<footer class="main-footer">
    <div class="container">
        <div class="pull-right hidden-xs">
            <b>Chat Test</b> 1.0
        </div>
        <strong>Quan Huynh</strong>
    </div>
    <!-- /.container -->
</footer>