<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <% include ./navbar-header %>
            <% include ./navbar-collapse %>
            <% include ./navbar-right %>
        </div>        
    </nav>
</header>