<div class="row">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Users Online</h3>
            <span class="badge bg-light-blue count" id="total-users">5</span>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                        class="fa fa-minus"></i>
                </button>
            </div>         
        </div>
       
        <div class="box-body" id='list-users'></div>    
    </div>
</div>